<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="indigo" sequenceNumber="17">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.7.1.v20110913-1526"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.runtime.feature.group" version="2.1.0.v201111010612"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.junit" version="4.8.2.v4_8_2_v20110321-1705"/>
<unit id="com.google.collect" version="1.0.0.v201105210816"/>
<unit id="com.google.inject" version="2.0.0.v201105231817"/>
<unit id="org.apache.commons.io" version="2.0.1.v201105210651"/>
<unit id="ch.qos.logback.classic" version="0.9.27.v20110224-1110"/>
<unit id="org.slf4j.api" version="1.6.1.v20100831-0715"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20110907174232/repository/"/>
</location>
</locations>
</target>
