<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="indigo" sequenceNumber="44">
<locations>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.7.2.v20120130-0943"/>
<unit id="org.eclipse.platform.feature.group" version="3.7.2.v20120207-1839-9gF7UHPDFxGjd-PqDr2jX_4yKaumkoHTz04_q-q"/>
<repository location="http://download.eclipse.org/releases/indigo/"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.runtime.feature.group" version="2.2.1.v201112130541"/>
<repository location="http://download.itemis.com/updates/releases"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="ch.qos.logback.classic" version="0.9.27.v20110224-1110"/>
<unit id="org.hamcrest.core" version="1.1.0.v20090501071000"/>
<unit id="org.junit" version="4.8.2.v4_8_2_v20110321-1705"/>
<unit id="org.slf4j.api" version="1.6.1.v20100831-0715"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20110907174232/repository/"/>
</location>
</locations>
</target>
